# {{ ansible_managed }}

# General
daemonize {{ redis_daemonize }}
pidfile {{ redis_pidfile }}
dir {{ redis_dir }}
port {{ redis_port }}
{% if redis_socket_path -%}
unixsocket {{ redis_socket_path }}
unixsocketperm {{ redis_socket_perm }}
{% endif -%}
timeout {{ redis_timeout }}
tcp-keepalive {{ redis_tcp_keepalive }}
tcp-backlog {{ redis_tcp_backlog }}
loglevel {{ redis_loglevel }}
logfile {{ redis_logfile }}
syslog-enabled {{ redis_syslog_enabled }}
syslog-ident {{ redis_syslog_ident }}
syslog-facility {{ redis_syslog_facility }}
databases {{ redis_databases }}
protected-mode no
cluster-enabled yes
cluster-config-file nodes-6379.conf
cluster-require-full-coverage no

# Limits
maxclients {{ redis_maxclients }}
{% if redis_maxmemory -%}
maxmemory {{ redis_maxmemory }}
{% endif -%}
maxmemory-policy {{ redis_maxmemory_policy }}

# Append Only Mode
appendonly {{ redis_appendonly }}
appendfilename "{{ redis_appendfilename }}"
appendfsync {{ redis_appendfsync|string }}
no-appendfsync-on-rewrite {{ redis_no_appendfsync_on_rewrite }}
auto-aof-rewrite-percentage {{ redis_auto_aof_rewrite_percentage }}
auto-aof-rewrite-min-size {{ redis_auto_aof_rewrite_min_size }}

# Slow Log
slowlog-log-slower-than {{ redis_slowlog_log_slower_than }}
slowlog-max-len {{ redis_slowlog_max_len }}

# Event Notification
notify-keyspace-events {{ redis_notify_keyspace_events }}

